.btn-group {
  float: left;
}

.FavCount {
  font-weight: bold;
}

.Resource {
  border-top: 1px solid #AAC0AB;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.Resource.isHighlighted {
  background-color: #B9CA8F;
}

h3 {
  display: inline-block;
}

h3 a {
  color: #A87878;
  text-decoration: none;
}
